<script type="text/javascript">
    RED.nodes.registerType('AzureStorageDownload',{
        category: 'azure blob storage',
        color: '#D8BFD8',
        defaults: {
            name: { value: ''  },
            mode: { value: 'file', required: true },
            filePathToStore: { value: '' },
            containerName: {  value: '', required: true },
            blobName: { value: '' },
            storageConfig: {
                value: "",
                type: "AzureStorage"
            },
        },
        inputs: 1,
        outputs: 1,
        label: function() {
            if (this.name) return this.name;
            return 'AzureStorageDownload';
        },
        oneditprepare: function() {
            $('#node-input-mode').on('change', function() {
                if (this.value === 'file') {
                   $('#node-input-div-filePathToStore').show();
               } else {
                   $('#node-input-div-filePathToStore').hide();
               }
            });
        },
        icon: 'font-awesome/fa-cloud-download',
    });
</script>

<script type="text/html" data-template-name="AzureStorageDownload">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-storageConfig"><i class="fa fa-wrench"></i> Config</label>
        <input id="node-input-storageConfig">
    </div>

    <div class="form-row">
        <label for="node-input-mode"><i class="fa fa-tag"></i> Mode </label>
        <select name="node-input-mode" id="node-input-mode">
            <option value="file"> file </option>
            <option value="binary"> binary </option>
        </select>
    </div>

    <div id="node-input-div-filePathToStore" class="form-row">
        <label for="node-input-filePathToStore"><i class="fa fa-tag"></i> File path to store </label>
        <input type="text" id="node-input-filePathToStore" placeholder="Must be an absolute path to local file system, including file name">
    </div>

    <div class="form-row">
        <label for="node-input-containerName"><i class="fa fa-tag"></i> Container name </label>
        <input type="text" id="node-input-containerName" placeholder="Container name">
    </div>

    <div class="form-row">
        <label for="node-input-blobName"><i class="fa fa-tag"></i> Blob name </label>
        <input type="text" id="node-input-blobName" placeholder="Blob name">
    </div>
</script>

<script type="text/html" data-help-name="Download">
    <p> Download files from Azure Blob Storage </p>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt> msg.payload
            <span class="property-type"> Buffer | string </span>
        </dt>
        <dd>
            If the mode is 'file', this field would be a string of an absolute path where the downloaded file should be located.
            If the mode is 'binary', this field would be a Buffer class instance containing the downloaded content.
        </dd>
    </dl>
    <h3>Details</h3>
    <p>
        There are two modes for this node: file mode and binary mode.
    </p>
    <h5> 'file' mode </h5>
    <p> In file mode, the node will try to download the file with name specified in blob name attribute, and store it to the local file system.
        if the file path to store attribute is not specified, the default location will be <code>os.homedir()/.node-red</code> and the file name will be the same as the
        blob name.
    </p>
    <h5> 'binary' mode </h5>
    <p> In binary mode, the node will try to download the file with name specified in blob name attribute, and store the downloaded content as <code>msg.payload</code>.
        The content can then be passed to the next node for further usage.
    </p>

    <p> Both mode throw errors if the container specified in the node editor does not exist, or the blob specified does not exist in the container.</p>
</script>
