<script type="text/javascript">
    RED.nodes.registerType('AzureStorageUpload',{
        category: 'azure blob storage',
        color: '#D8BFD8',
        defaults: {
            name: { value: ''  },
            mode: { value: 'file', required: true },
            filePath: { value: ''},
            containerName: {  value: '', required: true },
            blobName: { value: '' },
            storageConfig: {
                value: "",
                type: "AzureStorage"
            },
        },
        inputs: 1,
        outputs: 1,
        label: function() {
            if (this.name) return this.name;
            return 'AzureStorageUpload';
        },
        oneditprepare: function() {
            $('#node-input-mode').on('change', function() {
                // Hide filePath input when mode is 'binary'
                if (this.value === 'binary') {
                    $('#node-input-div-filePath').hide();
                } else {
                    $('#node-input-div-filePath').show();
                }
            });
        },
        icon: 'font-awesome/fa-cloud-upload',
    });
</script>

<script type="text/html" data-template-name="AzureStorageUpload">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-storageConfig"><i class="fa fa-wrench"></i> Config</label>
        <input id="node-input-storageConfig">
    </div>

    <div class="form-row">
        <label for="node-input-mode"><i class="fa fa-tag"></i> Mode </label>
        <select name="node-input-mode" id="node-input-mode">
            <option value="file"> file </option>
            <option value="binary"> binary </option>
        </select>
    </div>

    <div id="node-input-div-filePath" class="form-row">
        <label for="node-input-filePath"><i class="fa fa-tag"></i> File path </label>
        <input type="text" id="node-input-filePath" placeholder="(msg.filePath) Must be an absolute path to local file system">
    </div>

    <div class="form-row">
        <label for="node-input-containerName"><i class="fa fa-tag"></i> Container name </label>
        <input type="text" id="node-input-containerName" placeholder="Container name">
    </div>

    <div class="form-row">
        <label for="node-input-blobName"><i class="fa fa-tag"></i> Blob name </label>
        <input type="text" id="node-input-blobName" placeholder="Blob name">
    </div>
</script>

<script type="text/html" data-help-name="Upload">
    <p> Upload files to Azure Blob Storage </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt> msg.payload
            <span class="property-type"> Buffer </span>
        </dt>
        <dd>An instance of Buffer containing the content to be uploaded. Ignored if the mode is 'file'.</dd>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt> msg.payload.success
            <span class="property-type"> boolean </span>
        </dt>
        <dd>A flog that indicates if the downloading succeeds or not.</dd>
        <dt> msg.payload.date
            <span class="property-type"> boolean </span>
        </dt>
        <dd>A date string representing when the uploading happens.</dd>
    </dl>

    <h3>Details</h3>
    <p>
        There are two modes for this node: file mode and binary mode.
    </p>
    <h5>'file' mode</h5>
    <p>In file mode, the node will try to upload the file specified in file path attribute, and rename it to the name specified in blob name attribute if given.
        If blob name attribute is not given, the node will use the original file name as its blob name.</p>
    <h5>'binary' mode</h5>
    <p>In binary mode, the node will accepts an instance of Buffer as <code>msg.payload</code>, and upload it with name specified in blob name attribute.
        blob name attribute must be given in binary mode, or an error is thrown.</p>
    <p>In both modes, if the container specified does not exist, the node will create it and upload the file to the newly created container.</p>
</script>