
<!-- settings -->
<script type="text/javascript">
    RED.nodes.registerType('AzureStorage', {
        category: 'config',
        defaults: {
            name: {
                value: "",
                required: false
            },
            accountName: {
                value: "",
                required: true
            },
            accountKey: {
                value: "",
                required: true
            }
        },
        label: function () {
            return this.name;
        }
    });
</script>

<script type="text/html" data-template-name="AzureStorage">
    <div class="form-row">
        <label for="node-config-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-config-input-name">
    </div>
    <div class="form-row">
        <label for="node-config-input-accountName"><i class="fa fa-id-card-o"></i> Account Name</label>
        <input type="text" id="node-config-input-accountName" autocomplete="off">
    </div>
    <div class="form-row">
        <label for="node-config-input-accountKey"><i class="fa fa-key"></i> Account Key</label>
        <input type="password" id="node-config-input-accountKey" autocomplete="off">
    </div>
</script>